.navbar {
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.nav-logo {
  font-size: 40px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a.active {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.logout-btn {
  padding: 6px 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
